<!DOCTYPE html>
<html>
  <head>
    <link href="./../stuff/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <%- include ('./partials/nav.ejs') %>
    <h1>Welcome to the Most Awesome Website on the Net</h1>
    <p>You won't find Such a Website</p>
  </body>
</html>
